{% extends 'mysite/base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/side.css' %}">
    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}
{% endblock head %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li><a href="{% url 'house1' %}">概览</a></li>
                    <li><a href="{% url 'house2' %}">价格</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            {% block chart %}
            {% endblock chart %}
        </div>
    </div>
{% endblock content %}
